@charset "utf-8";
/* CSS Document */

:root{
	--orange: rgb(243, 145, 35);
	--navy: rgb(22, 24, 48);
	--white: rgb(243, 243, 243);
	--black: rgb(18, 18, 18);
}

*{
	overflow-x: hidden;
	box-sizing: border-box;
}

html{
	scroll-behavior:smooth;
	
}

body{
	padding: 0px;
	margin: 0px;
	background-color: var(--white);
	scroll-snap-type: y mandatory;
}

section{
	position: relative;
	width: 100vw;
	min-height: 100vh;
	scroll-snap-align: start;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mobile{
	display: none;
}

h1{
	font-family: edita, serif;
	font-weight: 400;
	font-style: normal;
	color: var(--white);
	font-size: 10vh;
	text-align: left;
}

p{	
	font-family: edita, serif;
	font-weight: 400;
	font-style: normal;
	}

h3{
	font-family: pelago, sans-serif;
font-weight: 700;
font-style: normal;
	color: var(--orange);
	font-size: 50px;
	text-align: left;
}

.mark{
	font-family: pelago, sans-serif;
	font-weight: 700;
	font-style: italic;
	color: var(--orange);
}

a{
	text-decoration: none;
	color: var(--orange);
}

a:hover{
	color: var(--white);
}

::-moz-selection { /* Code for Firefox */
	background: rgba(243, 145, 35, .8);
	color: var(--white);
  }
  
  ::selection {
	background: rgba(243, 145, 35, .8);
	color: var(--white);
  }
/*---------------------------------Top--------------------------*/

#top{
	background-image: url(Assets/BG-Top.jpg);
}

#topart{
	background-image: url(Assets/BG-Top-Art.jpg);
}

@media only screen and (max-width: 700px){
	#top{
	background-image: url(Assets/BG-Top-Mobile.jpg);	
}
	#topart{
		background-image: url(Assets/BG-Top-Art-mobile.jpg);
	}
}

#main-title{
	position: absolute;
	top: 20%;
	left: 50%;
  transform: translate(-50%);
  width: 80vw;
}

#arrow{
	width: 5vw;
	max-width: 100px;
	position: absolute;
  	top: 75%;
  	left: 50%;
  	transform: translateX(-50%);
	animation: bounce 1.7s ease-in-out infinite;
	
}

header{
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 37px;
 	width: 91%;
	margin: 0 3vw 0 4.5vw;
	align-items: center;
	
}

header img{
	height: 70px;
}

#language a{
	color: var(--white);
	padding-right: 10px;
}

.selected{
	text-decoration: none;
	color: var(--orange) !important;
}

#navigation{
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 95px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--navy);
	color: var(--white);
	font-size: 30px;

	padding-inline: 40px;
}

#navigation a{
	color: var(--white);
}

#navigation a:hover{
	color: var(--orange);
}

.menupoints :not(:last-child) {
	margin-right: 20px;
}

.social{
	display: flex;
	justify-content: space-between;
}

.social img{
	height: 30px;
	padding: 0px 10px;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
	
}

/*-------------------------------------About----------------------------------*/
#about{
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-inline: 10vw;
}

#about img{
	width: auto;
	height: 45vh;
	object-fit: cover;
}

.abouttext{
	width: 40vw;
	max-width: 400px;
}

#about::after{
	background-image: url(Assets/BG-About.jpg);
	background-size: cover;
	background-position: center;
	content: "";
	display: block;
	filter: blur(10px);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(1.22); 
	z-index: -1;
}

/*---------------------------------------Offers---------------------------------*/
#offers{
	padding: 50px 0px;
	display: flex;
	align-items: center;
	z-index: -11;
}

.offers{
	background-image: url(Assets/BG-Offers.jpg);
}

.offersart::before{
	content: "";
	background-image: url(Assets/BG-Offers-Art.jpg);
	transform: scale(1.02);
	background-size: inherit;
	background-position: inherit;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	filter: blur(5px);
}

h5{
	text-align: center;
	font-family: edita, serif;
	font-weight: 500;
	font-style: normal;
	font-size: 3vw;
	color: var(--white);
}

#offers h5{
	margin: 30px 0px;
}

.flexcontainer{
	display: flex;
	flex-direction: column;
	width: 90vw;
	max-width: 1300px;
	margin-inline: auto;
}

.offerpictures{
	display: flex;
	justify-content: space-between;
	}

.card{
	min-height: 25vh;
	padding: 30px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 45%;
	transition: 0.5s;
	background-position: center;
	background-size: cover;
}
.card p{
	color: var(--white);
	opacity: 0;
	transform: scale(0);
	font-size: 1.2vw;
}


.card h5{
	color: var(--navy);
	font-family: pelago, sans-serif;
	font-weight: 700;
	font-style: italic;
	opacity: 0;
	transform: scale(0);
	margin: 0px;
}

.art-card h5{
	color: var(--white);
}

@media (hover: hover){
.card:hover{
	box-shadow: 0 0 0 30vw rgba(243, 145, 35, 0.7) inset;
}

.art-card:hover{
	box-shadow: 0 0 0 30vw rgba(22, 24, 48, 0.7) inset;
}

.card:hover p, .card:hover h5, .cardart:hover p, .cardart:hover h5{
	opacity: 1;
	transform: scale(1);
}
}

.picture1{
	background-image:url("Assets/14-220604.jpg");
}

.picture2{
	background-image:url("Assets/0056SKM Mirecourt (08-03-55).jpg");
}

.picture3{
	background-image:url("Assets/portraits.jpg");
}

.picture4{
	background-image:url("Assets/Picture3Sports.jpg");
}

.picture1art{
	background-image:url("Assets/picture1art.jpg");
}

.picture2art{
	background-image:url("Assets/picture2art.jpg");
}

.picture3art{
	background-image:url("Assets/picture3art.jpg");
}

/*----------------------------------------Contact------------------------------------*/
.contact{
	background-image: url(Assets/BG-Contact.jpg);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 100px;
}

.contactart{
	background-image: url(Assets/BG-Contact-Art.jpg);
}

#contactart{
	background-image: url(Assets/BG-Contact.jpg);
	background-color: var(--orange);
}

#contact a{
	font-size: 3vw;
	color: var(--white);
}

#contact a:hover{
	color: var(--orange);
	
}

h2{
	font-family: edita, serif;
	font-weight: 400;
	font-style: normal;
	color: var(--white);
	font-size: 5vw;
	text-align: left;
}

.navy{
	color: var(--navy);
}

/*-----------------------------------------Portfolio---------------------------*/


.bilderport{
	margin-inline: auto;
	box-sizing: border-box;
	padding: 1vh 5vw;
	width: min(90vw, 100%);
	columns: 4 300px;
	column-gap: 10px;
}	

.galleryimg{
	display: block;
	margin-inline: auto;
	margin-bottom: 10px;
	width: 100%;
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.6);
-webkit-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.6);
}

li{
	padding: 7px 0px;
}


.bilderport::-webkit-scrollbar {
  display: none;
}

/*-----------------------------------Footer-------------------------------------*/
footer{
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	background-color: var(--navy);
	padding-left: 60px;
	color: var(--white);
	font-size: 20px;
}

/*--------------------------------------AGB-------------------------------------*/
.agb{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--white);
	text-align: left;
}

/*-------------------------------------responsive------------------------------*/

@media only screen and (max-width: 1000px){
	
	h1{
		font-size: 9vh;
	}
	
	h2{
		font-size: 7vh;
	}
	
	.menu{
		font-size: 25px;
	}	
	
	
	.center{
		top: 25%;
		left: 100px;
	}
	
	.offerscontainer{
		width: 80vw;
	}
	
	textarea{
		width: 63vw;
	}
	
	footer{
		font-size: 15px;
	}
	
	.abouttext{
		padding-bottom: 170px;
	}
	
}

@media only screen and (max-width: 840px){
	
	.aboutwrapper{
		flex-direction: column;
	}
	
	.abouttext{
		width: auto;
		padding-bottom: 0;
	}
	
	.imgabout{
		width: 60vw;
		padding-bottom: 30px;
	}
	
	#about {
background-color: var(--white);
	}
	
	#about .BGimg{
		opacity: 80%;
	}
	
	#about p{
		font-size: 22px;
	}
}
	
	
@media only screen and (max-width: 700px){
	
	.desk{
		display: none;
		
	}
	
	.mobile{
		display: block;
		max-height: 90vh;
	}
	
	.menupoints{
		padding: 10px 20px 10px 10px;
	}
	
	.menu{
		font-size: 17px;
	}	
	
.social{
	
	padding: 0px 20px;
}

.social img{
	height: 20px;
	padding: 0px 10px;
}
	
	h2{
		padding-right: 30px;
	}
	
	.aboutwrapper{
		flex-direction: column;
	}
	
	.abouttext{
		width: auto;
	}
	
	.imgabout{
		width: 80vw;
		padding-bottom: 30px;
	}
	
	#about {
background-color: var(--white);
	}
	
	#about .BGimg{
		opacity: 80%;
	}
	
	#about p{
		font-size: 20px;
	}
	
	.bilderport{
	grid-template-columns: repeat(2, 1fr);
	}
	
	h2{
		font-size: 6vh;
	}
	
	button{
		width: 25vw;
		height: 7vw;
		font-size: 2.5vh;
	}
	
	.offerpictures{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.card{
		width: 65vw;
	height: 40vw;
		margin: 20px;
	}

	#offers{
		height: 250vw;
	}
	
	#offers img{
		height: 250vw;
	}
	
	.card p{
		font-size: 15px;
	}
	
	.card h5{
		font-size: 30px;
	}
	
	.offerscontainer h5{
		font-size:  30px;
	}
	
	
}

@media only screen and (max-width: 700px){
	
	.arrow{
		top: 80%;
	}
	
}
	
@media only screen and (max-width: 520px){
	
	h1{
		font-size: 70px;
	}
	
	.center{
		left: 50px;
	}
	
	.arrow{
		width: 10vw;
	left: 45%;
	}
	
	header{
		display: flex;
		flex-direction: column;
	}
	
	.language{
		padding-top: 10px;
		padding-bottom: 10px;
	}
}


@media only screen and (max-width: 480px){
	
	#offers{
		height: 300vw;
	}
	
	#offers img{
		height: 300vw;
	}
	
	.form{
	
  	top: 70%
	}
	
	.contactadjustement{
		left: 10px;
	}
}




/*------------------------------------------------Art-------------------------------------------*/
.white{
	background-color: var(--white);
}

.menupointsart p {
	color: var(--navy);
}

.flexcenter{
	justify-content: center;
}

.bgorange{
	background-color: var(--navy);
	height: 100vh;
}